absl-py==2.1.0
adabound==0.0.5
addict==2.4.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
albumentations==1.0.3
antlr4-python3-runtime==4.9.3
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==24.3.0
audioread==3.0.1
backcall==0.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
cachetools==5.5.0
cattrs==24.1.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
chumpy==0.70
click==8.1.8
comm==0.2.2
compress-pickle==1.2.0
ConfigArgParse==1.7
configparser==7.1.0
contourpy==1.1.1
cryptography==44.0.0
cycler==0.12.1
#Cython==0.29
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
distro==1.9.0
docker-pycreds==0.4.0
easydict==1.13
exceptiongroup==1.2.2
executing==2.1.0
face-detection-tflite==0.6.0
face_alignment==1.3.4
facenet-pytorch==2.5.2
fastjsonschema==2.21.1
filelock==3.16.1
Flask==3.0.3
flatbuffers==24.12.23
fonttools==4.55.3
freetype-py==2.5.1
frozenlist==1.5.0
fsspec==2024.12.0
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.4.0
gdown==4.5.1
geffnet==1.0.2
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.37.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpytoolbox==0.3.3
grpcio==1.69.0
h5py==3.11.0
hickle==5.0.2
huggingface-hub==0.27.1
idna==3.10
imageio==2.35.1
imgaug==0.4.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
#-e git+https://github.com/radekd91/inferno.git@75f8f76352ad4fe9ee401c6e845228810eb7f459#egg=INFERNO&subdirectory=../../../submodules/INFERNO
insightface==0.6.2
iopath==0.1.10
ipython==8.12.3
ipywidgets==8.1.5
itsdangerous==2.2.0
jax==0.4.13
jaxlib==0.4.13
jedi==0.19.2
Jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
keras==2.13.1
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
librosa==0.9.2
llvmlite==0.41.1
loguru==0.6.0
lpips==0.1.4
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.2.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.11
meshzoo==0.11.6
ml-dtypes==0.2.0
mpmath==1.3.0
multidict==6.1.0
munch==2.5.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
ninja==1.11.1.3
numba==0.58.1
numpy==1.23.0
nvdiffrast @ git+https://github.com/NVlabs/nvdiffrast/@729261dc64c4241ea36efda84fbf532cc8b425b8
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.10.2
onnx2torch==1.5.0
onnxruntime-gpu==1.11.0
open3d==0.19.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.9.0.80
opt_einsum==3.4.0
packaging==24.2
pandas==1.4.2
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==5.24.1
pooch==1.8.2
portalocker==3.0.0
prettytable==3.11.0
promise==2.3
prompt_toolkit==3.0.50
propcache==0.2.0
protobuf==3.20.3
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-machineid==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pyDeprecate==0.3.1
pyglet==2.1.1
Pygments==2.19.1
PyOpenGL==3.1.0
pyparsing==3.1.4
pyquaternion==0.9.9
pyrender==0.1.45
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-package-info==0.0.10
pytorch-lightning==1.4.9
#pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@75ebeeaea0908c5527e7b1e305fbc7681382db47
pytz==2024.2
PyWavelets==1.4.1
PyYAML==6.0.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-cache==1.2.1
requests-oauthlib==2.0.0
resampy==0.4.3
retrying==1.3.4
rich==13.9.4
rich-argparse==1.6.0
robust_loss_pytorch @ git+https://github.com/jonbarron/robust_loss_pytorch@9831f1db8006105fe7a383312fba0e8bd975e7f6
rpds-py==0.20.1
rsa==4.9
safetensors==0.5.2
scikit-image==0.19.2
scikit-learn==1.0.2
scikit-video==1.1.11
scipy==1.10.1
scs==3.2.7.post2
sentry-sdk==2.20.0
shapely==2.0.6
shortuuid==1.0.13
six==1.17.0
smmap==5.0.2
sounddevice==0.5.1
soundfile==0.13.0
soupsieve==2.6
stack-data==0.6.3
stonefish-license-manager==0.4.37
subprocess32==3.5.4
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==0.9.16
#tinycudann @ git+https://github.com/NVlabs/tiny-cuda-nn@1e384440a9426341b86b62fbb905dbb9d52ba6e5#subdirectory=bindings/torch
tokenizers==0.12.1
tomli==2.2.1
torch==2.1.2
torch-dct==0.1.6
torchfile==0.1.0
torchmetrics==0.6.2
torchvision==0.16.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.22.2
trimesh==3.6.43
triton==2.1.0
typing_extensions==4.5.0
url-normalize==1.4.3
urllib3==2.2.3
wandb==0.10.0
watchdog==4.0.2
wcwidth==0.2.13
Werkzeug==3.0.6
widgetsnbextension==4.0.13
wrapt==1.17.2
x21==0.5.3
xatlas==0.0.9
yacs==0.1.8
yarl==1.15.2
zipp==3.20.2
